.card {
    background: #f4f9fb;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    max-width: 400px;
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
    color: #2e3a46;
  }
  
  .card p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #52616b;
    margin-bottom: 10px;
  }
  
  .card img {
    max-width: 100%;
    border-radius: 8px;
    margin-top: 15px;
  }
  .button button{
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
     margin-left: 10px;
     margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    

  }
  .update{
    background-color: #4CAF50; 
    
  }
  .delete{
    background-color: #f44336; 
    
  }