.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 50px;
    padding-right: 70px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    font-family: "Poppins", sans-serif;
  }
  
  .login-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .login-form .form-group {
    margin-bottom: 20px;
  }
  
  .login-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
  }
  
  .login-form input[type="text"],
  .login-form input[type="password"],
  .login-form input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }
  
  .login-form .login-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-form .login-btn:hover {
    background-color: #0056b3;
  }
  .button{
    display: flex;
    align-items: center;
    justify-content: center;
  }